.hero {
    
    // background-color: rgba(254, 243, 228, 1);
    padding-top: 33px;
    padding-bottom:10px;
    @media screen and (min-width:768px){
        padding-top: 10px;
    }
    @media screen and (min-width:1280px){
        background-image: url("../images/pc/spoon\ 1.png");
        background-repeat: no-repeat;
        padding-top: 60px;
        padding-bottom:25px;
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            background-image: url("../images/pc/2x/spoon\ 1.png");
            background-size: 142px 450.14px;
        }
    }
    &__heading{
        text-align:center;
        font-family: "Caveat Brush";
        font-weight: 400;
        font-size:30px;
        line-height:calc(37.8 / 30);
        margin-bottom: 3px;
        @media screen and (min-width:768px){
            text-align:left;
        }
        @media screen and (min-width:1280px){
            margin-bottom: 15px;
            font-size: 64px;
            line-height: calc(65 / 64);
        }
    }
    &__subscription{
margin-bottom:35px;

        text-align:center;
        font-family: "Montserrat";
        font-weight:500;
        font-size:16px;
        line-height:calc(19.5 / 16);
        @media screen and (min-width:768px){
            text-align:left;
            margin-bottom: 25px;
            
        }
        @media screen and (min-width:1280px){
            font-size: 24px;
            line-height: calc(29 / 24);
            margin-bottom: 30px;
            
        }
    }
   &__register{
       display:block;
       width: 145px;
       height: 40px;
       background-color:rgba(171, 129, 108, 1);
       border-radius: 25px;
       border:none;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 45px;
    color: rgba(255, 255, 255, 1);
       font-family: "Caveat Brush";
       font-weight:400;
       font-size:18px;
       transition: background-color 250ms linear, color 250ms linear;
       @media screen and (min-width:768px){
        margin-left: 0;
       margin-right: auto;
       margin-bottom:30px;
       }
       @media screen and (min-width:1280px){
        height:45px;
        width: 158px;
        font-size:24px;
        
       margin-bottom:65px;
       }
      
   }
   &__register:hover{
       cursor:pointer;
       background-color: rgba(210, 149, 108, 1);
       color: black;
   }
}

.social-media{
    display: flex;
    justify-content: center;
    @media screen and (min-width:768px){
        justify-content: start;
    }
    &__link{
        text-decoration: none;
        width: 18px;
            height:19px;
            transition: fill 250ms linear;
        @media screen and (min-width:1280px){
            width: 24px;
            height:19px;
        }
       
    }
    &__link + &__link {
        margin-left: 10px;
    }
    &__link:hover {
        fill: blue;
    }
    &__icons{
        @media screen and (min-width:1280px){
            width: 24px;
            height:19px;
        }
    }

}
.images {
    @media screen and (max-width:768px) {
        display:none;
    }
    &__first {
        position: absolute;
        top:1px;
        right:205px;
        border-radius: 50%;
        transition: transform 250ms linear;
        @media screen and (min-width:1280px) {
            top:-71px;
            right:-19px;
        }
       
    }
    &__first:hover{
        transform: scale(1.3);
    }
    &__second{
        position:absolute;
        top: 137px;
        right:103px;
        border-radius: 50%;
        transition: transform 250ms linear;
        @media screen and (min-width:1280px) {
            top: 88px;
            right:-140px;
        }
    }
   &__second:hover{
       transform: scale(1.2);
   }
    &__third{
        position: absolute;
        top: 141px;
        right:30px;
        border-radius: 50%;
        transition: transform 250ms linear;
        @media screen and (min-width:1280px) {
            top: 335px;
            right:-176px;
        }
    }
    &__third:hover{
        transform: scale(1.2);
        
    }
    &__fourth{
        position:absolute;
        top:1px;
        right:173px;
        border-radius: 50%;
        transition: transform 250ms linear;
        @media screen and (min-width:1280px) {
            top: 3px;
            right:-141px;
        }
    }
    &__fourth:hover{
        transform: scale(1.2);
    }
    &__fifth{
        position: absolute;
        top: -63px;
        right: 192px;
        border-radius: 50%;
        transition: transform 250ms linear;
        @media screen and (min-width:1280px) {
            top: 198px;
            right:200px;
        }
    }
    &__fifth:hover{
        transform: scale(1.2);
    }
    &__sixth{
        position: absolute;
        top: 180px;
        right: 237px;
        border-radius: 50%;
        transition: transform 250ms linear;
        @media screen and (min-width:1280px) {
            top: 186px;
            right:94px;
        }

    }
    &__sixth:hover{
        transform: scale(1.2);
    }
    &__seventh{
        position: absolute;
        right:90px;
        top:-90px;
        border-radius: 25%;
        transition: transform 250ms linear;
        @media screen and (min-width:1280px) {
            top: -149px;
            right:-210px;
        }
    }
    &__seventh:hover{
        transform: scale(1.2);
    }
    &__eighth{
        position: absolute;
        top:110px;
        right:219px;
        border-radius: 50%;
        transition: transform 250ms linear;
        @media screen and (min-width:1280px) {
            top: -116px;
            right:-56px;
        }
    }
    &__eighth:hover{
        transform: scale(1.2);
        
    }
}